.navbar {

    font-family: 'Mitr', sans-serif;
}

body {
    
    background-color:darkcyan;
    font-family: 'Anton', sans-serif;
    
}


#picme{
    border-radius: 8px;
    height: 300px;
    max-width: 100%;
}

.boutme {
    background-color: bisque;
    min-width:85%;
    text-align: center;
}


.container {
    border-radius: 5px;
    padding: 10px;
    margin: 2, 2, 2, 2;
    height: 100%;
    margin-bottom:40px;
}

.footer {
    position: relative;
    width: 100%;
    background-color:rgb(2, 73, 73);
    color: white;
    text-align: center;
}


