.navbar {

    font-family: 'Mitr', sans-serif;
}

body {
    
    background-image: url(./img/background.jpg);
    background-size: cover ;
    font-family: 'Heebo', sans-serif;
    
}


#picme{
    border-radius: 8px;
    height: 300px;
    max-width: 100%;
}

.boutme {
    background-color: rgb(58, 58, 58);
    min-width:85%;
    text-align: center;
    color: white;
}


.container {
    border-radius: 5px;
    padding: 10px;
    margin: 2, 2, 2, 2;
    height: 100%;
    margin-bottom:40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
}


.portfolio-img-card{
    height: fit-content; 
    width: inherit;
    max-height: 270px;
}

#jumbo-tron{
    background: rgba(233, 236, 239, .4);
    font-family: 'Mitr', sans-serif;
}